
<!DOCTYPE html>
<html lang="en">

<head>
    <title>topkalamag | Home</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="">
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,600,700%7CSource+Sans+Pro:400,600,700' rel='stylesheet'>
    <partial name="_cssPartial" />
    @await RenderSectionAsync("css", false)
    <partial name="_favIconPartial" />
    <script src="/BlogTheme/js/lazysizes.min.js"></script>
</head>

<body class="bg-light style-default style-rounded">

    <div class="loader-mask">
        <div class="loader">
            <div></div>
        </div>
    </div>
    <div class="content-overlay"></div>
    <partial name="_sidenavPartial" />


    <main class="main oh" id="main">

        <partial name="_topbarPartial" />
        <partial name="_headerPartial" />
        @RenderBody()
        <partial name="_footerPartial" />
        <div id="back-to-top">
            <a href="#top" aria-label="Go to top"><i class="ui-arrow-up"></i></a>
        </div>
    </main>
    <partial name="_jsPartial" />
    @await RenderSectionAsync("script", false)
</body>
</html>
