@model Blog.Core.Common.OperationResult

@if (Model.Code==1)
{
    <div class="alert alert-success">
        <h4>توجه</h4>

        <p>
           @Model.Message
        </p>
    </div>
}else if (Model.Code==2)
{
    <div class="alert alert-danger">
        <h4>توجه</h4>

        <p>
           @Model.Message
        </p>
    </div>
}else if (Model.Code==3)
{
    <div class="alert alert-warning">
        <h4>توجه</h4>

        <p>
           @Model.Message
        </p>
    </div>
}
